<table class="table table-striped" id="<%= id %>">
  <thead>
    <tr>
      <th>Title</th>
      <th>Publication</th>
      <th>Source</th>
      <th>Archived</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% articles.each do |a| %>
      <tr>
        <td>
          <%= a.title %>
          <a href="<%= a.url %>" target="_blank">
            <i class='fa fa-external-link'></i>
          </a>
        </td>
        <td>
          <%= a.publication %>
        </td>
        <td>
          <%= a.submission_route %>
        </td>
        <td>
          <%= a.created_at.strftime("%e %B %Y") %>
        </td>
        <td>
          <%= link_to new_article_path(user_url: a.url, ldid: a.id) do %>
            Review
          <% end %>
          &nbsp
          <%= link_to dumped_links_reject_path(id: a.id) do %>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
