<% content_for :search_bar do %>
  <%= render 'layouts/search_bar' %>
<% end %>
<div class="grid-hook">
  <%= react_component 'Carousel',
    articles: @featured_articles
  %>
</div>

<div class="container">
  <%= render 'pagination', top: true %>
</div>

<span class="filterrific_spinner" style="display: none">
  <img class="loader" src="<%= asset_path 'ellipsis.gif' %>" />
</span>

<div class="container grid-hook">
  <%= react_component 'Grid',
    {articles: @articles,
    numArticles: @all_articles.length,
    query: @query},
    {prerender: true}
  %>
</div>
<%= render 'pagination', top: false %>
<script>
$('#currentFilters').text("<%= @current_filters %>")
$('#entriesInfo').text("<%= @page_entries_info %>")
  ReactRailsUJS.mountComponents('.grid-hook')
</script>
