<% content_for :search_bar do %>
  <%= render 'layouts/search_bar' %>
<% end %>

<% unless featured_articles.length == 0 %>
  <%= render 'carousel', featured_articles: featured_articles %>
<% end %>

<div class="container">
  <%= render 'pagination', top: true %>
</div>

<span class="filterrific_spinner" style="display: none">
  <img class="loader" src="<%= asset_path 'ellipsis.gif' %>" />
</span>

<br />

<div class="container grid card-columns">
  <% articles.each do |a| %>
    <%= render 'card', article: a, query: @query, numArticles: @all_articles.length %>
  <% end %>
</div>

<%= render 'pagination', top: false %>

<script>
$('#currentFilters').text("<%= @current_filters %>")
$('#entriesInfo').text("<%= @page_entries_info %>")
</script>
