<li>
  <div class="row">
    <div class="col-sm-4">
      <img src="<%= asset_path image %>" alt="<%= name %>">
    </div>
    <div class="col-sm-8">
      <h4>
        <%= name %>
        <br />
        <small>
          <%= title %>
        </small>
      </h4>
      <p>
        <%= blurb_content %>
      </p>
    </div>
  </div>
</li>
