<div class="card">
  <a href="<%= online_presence %>" target="_blank">
    <img class="card-img-top staff" src="<%= asset_path image %>" alt="<%= name %>" />
    <div class="card-body">
      <h5 class="card-title">
        <%= name %>
        <br />
        <small>
          <%= title %>
        </small>
      </h5>
    </div>
  </a>
</div>
<!-- <p>
  </% blurb_content %>
</p> -->
