<li>
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <img src="<%= asset_path image %>" alt="<%= name %>">
    </div>
    <div class="col-sm-8 col-md-9">
      <h5>
      <%= name %>
        <p>
          <small>
            <%= title %>
          </small>
        </p>
      </h5>
      <p>
        <%= blurb_content %>
      </p>
    </div>
  </div>
</li>
