<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


  <title>Online Public Classics Archive</title>

  <!-- Latest compiled and minified CSS -->
    <link rel="icon" type="image/png" href="/assets/square_owl.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  </head>
<body>
  <%= yield :filterrific_form %>
    <nav class="navbar fixed-top navbar-expand-lg">
      <%= render 'layouts/navigation' %>
      <div class="mr-0">
        <%= yield :search_bar %>
      </div>
    </nav>
    <div id="nav-neg-space"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-centered">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </div>
      </div>
    </div>

      <%= yield %>


    <%= render 'layouts/footer' %>
    <% if current_page?(articles_path) %>
  </form>
    <% end %>
  <script>
    nav_height = $('nav').outerHeight()
    $('#nav-neg-space').css({'height': nav_height + 'px'})
    // $('#navToggle')
    // .focus(function() {
    //   $('#navbarNav').show()
    // })
    // .blur(function() {
    //   $('#navbarNav').show()
    // })
  </script>
</body>
</html>
